<!-- simp_blog2/templates/simp_blog2/blogs.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'blog_detail' pk=post.pk %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Home</a> | <a href="{% url 'blogs' %}">Blogs</a>
</body>
</html>
